<% content_for :title, 'AiProjectMgmt | Employee Timesheets' %>
<div class="row mt-3">
  <div class="align-items-center">
    <div class="mb-3">
      <%= render 'employee/time_logs/time_logs_filters', q: @q %>
    </div>  
  </div>
  <div class="text-end mb-3">
    <% if current_employee.tasks.blank? %>
      <p class="lead">You do not have any active task to log time. Please add the task first.</p>
    <% else %>
      <%= link_to "Add Time", new_employee_time_log_path, class: "btn btn-primary", data: { controller: "bs-modal-form" } %>
    <% end %>
    <%= link_to 'Export', '#exportModal', class: 'btn btn-primary', data: { bs_toggle: 'modal' } %>
  </div>
</div>
<% if @time_logs.present? %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Project</th>
        <th>Total Time</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody id="time-logged-list">
      <% @time_logs.each do |time_log| %>
        <%= render "employee/time_logs/log", time_log: time_log %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="card">
    <div class="card-body">
      <h4>No Timelogs found for the selected search data.</h4>
    </div>
  </div>
<% end %>
<div class="pag-bar mt-5 pt-5">
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>
<%= render 'shared/export_modal', export_path: employee_timesheets_path(format: :csv), modal_title: 'Export Options' %>