<div class="education-record mb-3">
  <%= f.hidden_field :_destroy, class: 'hidden-destroy' %>

  <%= f.label :course_name, class: "form-label" %>
  <%= f.text_field :course_name, class: "form-control" %>

  <%= f.label :college_or_university, class: "form-label" %>
  <%= f.text_field :college_or_university, class: "form-control" %>

  <%= f.label :start_year, class: "form-label" %>
  <%= f.number_field :start_year, class: "form-control" %>

  <%= f.label :end_year, class: "form-label" %>
  <%= f.number_field :end_year, class: "form-control" %>

  <%= f.label :marks, class: "form-label" %>
  <%= f.number_field :marks, class: "form-control" %>

  <%= f.label :is_pursuing, class: "form-label" %>
  <%= f.check_box :is_pursuing %>

  <div class="d-flex justify-content-between">
    <%= link_to 'Remove Education', '#', class: 'btn btn-danger btn-sm', data: { action: 'click->nested-form#removeEducation' } %>
  </div>
</div>
