<%= content_for :title, 'Employee Profile' %>

<div class="container mt-4">
  <%= render 'shared/flash' %>
  <div class="row mb-5">
    <div class="col-md-6">
      <h4> Your profile</h4>
    </div>
    <div class="col-md-6 text-end">
      <%= link_to 'Back to form', edit_employee_registration_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
    	<div class="alert alert-primary mt-3 mb-3" role="alert">
			  <strong>Important Information:</strong> Please take a moment to review the details below. If you're looking to enhance your resume's design, we offer a variety of templates on our website. Click the link below to explore our options and create a professional-looking resume that stands out!
			  <br><br>
			  <%= link_to 'Choose Templates', select_template_path, class: 'btn btn-primary' %>
			</div>
      <% if @employee.profile_image.attached? %>
        <%= image_tag @employee.profile_image, class: "w-20" %>
      <% end %>
      <div class="mb-3 mt-4">
        <strong>First Name:</strong> <%= @employee.first_name %>
      </div>
      <div class="mb-3">
        <strong>Last Name:</strong> <%= @employee.last_name %>
      </div>
      <div class="mb-3">
        <strong>Email:</strong> <%= @employee.email %>
      </div>
      <div class="mb-3">
        <strong>Contact Number:</strong> <%= @employee.contact_number %>
      </div>
      <div class="mb-3">
        <strong>Job Title:</strong> <%= @employee.job_title %>
      </div>
      <hr>
      <h5 class="mt-4">Education Records</h5>
      <% if @employee.education_records.present? %>
        <ul class="list-group">
  			  <% @employee.education_records.each do |education| %>
  			    <li class="list-group-item">
  			      <strong>Course:</strong> <%= education.course_name %>, 
  			      <strong>Start Year:</strong> <%= education.start_year %>,
  			      <strong>End Year:</strong> <%= education.end_year.present? ? education.end_year : 'Ongoing' %>,
  			      <strong>Marks:</strong> <%= education.marks.present? ? education.marks : 'N/A' %>,
  			      <strong>Institution:</strong> <%= education.college_or_university %>,
  			      <strong>Status:</strong> <%= education.is_pursuing? ? 'Pursuing' : 'Completed' %>
  			    </li>
  			  <% end %>
			  </ul>
      <% else %>
        <div class="row">
          <div class="col-md-6">
            <p>There is no education records added by you if you need to add you can click on the Add button.</p>
          </div>
          <div class="col-md-6 text-end">
            <%= link_to 'Edit Education', edit_employee_registration_path(step: 'education'), class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
      <hr>
      <h5 class="mt-4">Work Experience</h5>
      <% if @employee.work_experiences.present? %>
        <ul class="list-group">
  			  <% @employee.work_experiences.each do |experience| %>
  			    <li class="list-group-item">
  			      <strong>Job Title:</strong> <%= experience.job_title %><br>
  			      <strong>Role:</strong> <%= experience.role %><br>
  			      <strong>Company:</strong> <%= experience.company_name %><br>
  			      <strong>Start Date:</strong> <%= experience.start_date %><br>
  			      <strong>End Date:</strong> <%= experience.end_date.present? ? experience.end_date : 'Currently Working' if experience.is_currently_working_here %><br>
  			      <strong>Description:</strong> <%= experience.description %>
              <strong>Job Duration:</strong> <%= experience.job_duration %>
  			    </li>
  			  <% end %>
			  </ul>
      <% else %>
        <div class="row">
          <div class="col-md-6">
            <p>There is no work experieces added by you if you need to add you can click on the Add button.</p>
          </div>
          <div class="col-md-6 text-end">
            <%= link_to 'Edit Work', edit_employee_registration_path(step: 'work'), class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
      <hr>
      <h5 class="mt-4">Hobbies</h5>
      <% if @employee.hobbies.present? %>
        <ul class="list-group">
          <% @employee.hobbies.each do |hobby| %>
           <%= hobby.name %><br>
          <% end %>
        </ul>
      <% else %>
        <div class="row">
          <div class="col-md-6">
            <p>There is no hobbies added by you if you need to add you can click on the Add button.</p>
          </div>
          <div class="col-md-6 text-end">
            <%= link_to 'Edit Hobby', edit_employee_registration_path(step: 'hobby'), class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
      <hr>
      <h5 class="mt-4">Skills</h5>
      <% if @employee.skills.present? %>
        <ul class="list-group">
          <% @employee.skills.each do |skill| %>
            <%= skill.name %>,
          <% end %>
        </ul>
      <% else %>
        <div class="row">
          <div class="col-md-6">
            <p>There is no skills added by you if you need to add you can click on the Add button.</p>
          </div>
          <div class="col-md-6 text-end">
            <%= link_to 'Edit Skill', edit_employee_registration_path(step: 'skill'), class: 'btn btn-primary' %>
          </div>
        </div> 
      <% end %>
      <hr>
      <h5 class="mt-4">Social Networks</h5>
      <% if @employee.social_network&.attributes.except("id", "employee_id", "created_at", "updated_at").values.any?(&:present?) %>
        <ul class="list-group mx-3">
          <% if @employee.social_network.linkedin_url.present? %>
            <li>
              <%= link_to "#{@employee.social_network.linkedin_url}", @employee.social_network.linkedin_url, target: '_blank', rel: 'noopener', class: "text-danger" %>
            </li>
          <% end %>
          
          <% if @employee.social_network.github_url.present? %>
            <li>
              <%= link_to 'GitHub', @employee.social_network.github_url, target: '_blank', rel: 'noopener', class: "text-danger" %>
            </li>
          <% end %>

          <% if @employee.social_network.stackoverflow_url.present? %>
            <li>
              <%= link_to 'Stack Overflow', @employee.social_network.stackoverflow_url, target: '_blank', rel: 'noopener', class: "text-danger" %>
            </li>
          <% end %>

          <% if @employee.social_network.twitter_url.present? %>
           danger
              <%= link_to 'Twitter', @employee.social_network.twitter_url, target: '_blank', rel: 'noopener', class: "text-danger" %>
            </li>
          <% end %>

          <% if @employee.social_network.youtube_url.present? %>
            <li>
              <%= link_to 'YouTube', @employee.social_network.youtube_url, target: '_blank', rel: 'noopener', class: "text-danger" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="row">
          <div class="col-md-6">
            <p>There is no social networks added by you if you need to add you can click on the Add button.</p>
          </div>
          <div class="col-md-6 text-end">
            <%= link_to 'Edit social network', edit_employee_registration_path(step: 'social_network'), class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %> 
    </div>
  </div>
</div>
