<%= content_for :title, 'Employee Profile' %>

<div class="container mt-4">
  <%= render 'shared/flash' %>
  <div class="row mb-5">
    <div class="col-md-6">
      <h4> Your profile</h4>
    </div>
    <div class="col-md-6 text-end">
      <%= link_to 'Back to home', root_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
    	<div class="alert alert-primary mt-3 mb-3" role="alert">
			  <strong>Important Information:</strong> Please take a moment to review the details below. If you're looking to enhance your resume's design, we offer a variety of templates on our website. Click the link below to explore our options and create a professional-looking resume that stands out!
			  <br><br>
			  <%= link_to 'Choose Templates', select_template_path, class: 'btn btn-primary' %>
			</div>
      <div class="mb-3">
        <strong>First Name:</strong> <%= @employee.first_name %>
      </div>
      <div class="mb-3">
        <strong>Last Name:</strong> <%= @employee.last_name %>
      </div>
      <div class="mb-3">
        <strong>Email:</strong> <%= @employee.email %>
      </div>
      <div class="mb-3">
        <strong>Contact Number:</strong> <%= @employee.contact_number %>
      </div>
      <div class="mb-3">
        <strong>Job Title:</strong> <%= @employee.job_title %>
      </div>

      <h5 class="mt-4">Education Records</h5>
      <ul class="list-group">
			  <% @employee.education_records.each do |education| %>
			    <li class="list-group-item">
			      <strong>Course:</strong> <%= education.course_name %>, 
			      <strong>Start Year:</strong> <%= education.start_year %>,
			      <strong>End Year:</strong> <%= education.end_year.present? ? education.end_year : 'Ongoing' %>,
			      <strong>Marks:</strong> <%= education.marks.present? ? education.marks : 'N/A' %>,
			      <strong>Institution:</strong> <%= education.college_or_university %>,
			      <strong>Status:</strong> <%= education.is_pursuing? ? 'Pursuing' : 'Completed' %>
			    </li>
			  <% end %>
			</ul>
      <h5 class="mt-4">Work Experience</h5>
      <ul class="list-group">
			  <% @employee.work_experiences.each do |experience| %>
			    <li class="list-group-item">
			      <strong>Job Title:</strong> <%= experience.job_title %><br>
			      <strong>Role:</strong> <%= experience.role %><br>
			      <strong>Company:</strong> <%= experience.company_name %><br>
			      <strong>Start Date:</strong> <%= experience.start_date %><br>
			      <strong>End Date:</strong> <%= experience.end_date.present? ? experience.end_date : 'Currently Working' if experience.is_currently_working_here %><br>
			      <strong>Description:</strong> <%= experience.description %>
			    </li>
			  <% end %>
			</ul>

      <h5 class="mt-4">Hobbies</h5>
      <ul class="list-group">
        <% @employee.hobbies.each do |hobby| %>
         <%= hobby.name %>
        <% end %>
      </ul>

      <h5 class="mt-4">Skills</h5>
      <ul class="list-group">
        <% @employee.skills.each do |skill| %>
          <%= @employee.hobbies.map(&:name).join(', ') %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
