<div class="list-group">
  <%= link_to "Dashboard", employee_dashboard_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Assignments", employee_assignments_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Tasks", employee_tasks_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Timesheets", employee_timesheets_path, class: "list-group-item list-group-item-action" %>
  <%#= link_to "Settings", edit_employee_registration_path, class: "list-group-item list-group-item-action" %>
  <% if employee_signed_in? && current_employee.project_manager? %>
    <%= link_to employee_assign_task_path, class: 'bg-primary  mt-4 list-group-item text-white text-center fs-5', data: { controller: "bs-modal-form", remote: true } do %>
      <i class="bi bi-plus"></i> Assign Task
    <% end %>
  <% end %>
  <% if employee_signed_in? && employee_basic_details?(current_employee) %>
    <%= link_to "Create Resume", select_template_path, class: "btn btn-secondary" %>
  <% end %>
</div>
