<%= form_with(model: q, url: employee_timesheets_path, method: "get", data: { turbo_form: true }) do |f| %>
  <div class="d-flex">
    <div class="form-group me-3">
      <%= f.label :project_id_eq, "Filter by Project:" %>
      <%= f.select :employee_project_project_id_eq, options_for_select(projects.map { |project| [project.title, project.id] }, f.object.employee_project_project_id_eq), { prompt: "Select Project" }, { class: "form-control", onchange: "this.form.submit();"} %>
    </div>
    <div class="form-group me-3">
	    <%= f.label :task_type_eq, "Task Type" %>
	    <%= f.select :task_type_eq, options_for_select(TimeLog::TASK_TYPE, f.object.task_type_eq), { prompt: "Select Task Type" }, { class: "form-control", onchange: "this.form.submit();" } %>
	  </div>
    <div class="form-group">
      <label>Filter By dates</label>
      <%= text_field_tag "q[date_range]", nil, 
             class: 'form-control', 
             placeholder: 'Select Date', 
             data: { controller: 'flatpickr', range_select: 'true' },
             value: "#{params[:q] ? params[:q][:date_range] : ''}" %>
    </div>
    
    <div class="form-group mt-4 mx-3">
      <%= f.submit 'filter', class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
