<!DOCTYPE html>
<html>
  <head>
    <title>AiProjectMgmt | Admin Panel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if employee_signed_in? %>
      <%= render "shared/employee_header" %>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <%= render "shared/employee_side_bar" %>
        </div>
        <div class="col-lg-9">
          <%= yield %>
          <%= turbo_frame_tag 'remote_modal' %>
        </div>
      </div>
    </div>
  </body>
</html>
